<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Matchmaker Exchange Gateway</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <header><h1 class="text-center" style="padding-bottom: 25px">The Matchmaker Exchange Gateway</h1></header>
    <a href="https://github.com/MatchmakerExchange/reference-server"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    <div class="container">

        <section class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="jumbotron">
              <p>The gateway makes it easier to query a group of MME services, and provides those services with shared validation, logging, and metrics.</p>
            </div>
        </section>

        <section class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h2 class="text-center">Endpoints</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    Public:
                    <ul>
                        <li><code>/v1/validate/match</code> - Validate and normalize a request</li>
                    </ul>

                    Authenticated clients:
                    <ul>
                        <li><code>/v1/servers/&lt;server_id&gt;/match</code> - Send a request to a particular server</li>
                    </ul>


                    Authenticated servers:
                    <ul>
                        <li>Receive requests from authenticated clients, with <code>X-Forwarded-For</code> header set to the client id</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h2 class="text-center">Servers</h2>
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Server ID</th>
                        <th>Server Name</th>
                        <th>Base URL</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for server in outgoing_servers|sort(attribute='server_id') %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ server.server_id }}</td>
                        <td>{{ server.server_label }}</td>
                        <td>{{ server.base_url }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <caption style="caption-side: bottom">To request a server be added to this list, just <a href="https://github.com/MatchmakerExchange/reference-server/issues/new">create an issue</a>.</caption>
                </table>
            </div>
        </section>

        <section class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h2 class="text-center">Clients</h2>
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Client ID</th>
                        <th>Client Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for server in incoming_servers|sort(attribute='server_id') %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ server.server_id }}</td>
                        <td>{{ server.server_label }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <caption style="caption-side: bottom">To request a client be added to this list, just <a href="https://github.com/MatchmakerExchange/reference-server/issues/new">create an issue</a>.</caption>
                </table>
            </div>
        </section>

        <section class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h2 class="text-center">Usage</h2>

            <h3>Validate and normalize a request</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Endpoint: <code>/v1/validate/match</code></p>

                    <p>On receiving a request, the gateway:</p>
                    <ol>
                        <li>Validates that the request conforms to <a href="https://github.com/MatchmakerExchange/reference-server/blob/master/mme_server/schemas/api.json">the MME API jsonschema specification</a> and normalizes the ontology terms:</li>
                            <ul>
                                <li>maps gene symbols and Entrez IDs to Ensembl IDs</li>
                                <li>resolves HPO synonyms</li>
                            </ul>
                        <li>Returns the normalized request to the client</li>
                    </ol>

                    <h4>Example: a valid request</h4>
                    <p>Request:</p>
                    <pre><code>curl -X POST \
  -H 'Content-Type: application/vnd.ga4gh.matchmaker.v1.0+json' \
  -H 'Accept: application/vnd.ga4gh.matchmaker.v1.0+json' \
  -d '{
      "patient": {
        "id":"1",
        "contact": {"name": "Jane Doe", "href": "mailto:jdoe@example.edu"},
        "features": [{"id": "HP:0000522"}],
        "genomicFeatures": [{"gene": {"id": "NGLY1"}}]
      }
    }' \
  https://gateway.matchmakerexchange.org/v1/validate/match</code></pre>
                    <p>Response:</p>
                    <pre><code>HTTP/1.0 200 OK
Content-Type: application/vnd.ga4gh.matchmaker.v1.0+json

{
  "patient": {
    "contact": {
      "href": "mailto:jdoe@example.edu",
      "name": "Jane Doe"
    },
    "features": [
      {
        "id": "HP:0000522",
        "label": "Alacrima",
        "observed": "yes"
      }
    ],
    "genomicFeatures": [
      {
        "gene": {
          "id": "ENSG00000151092",
          "label": [
            "N-glycanase 1"
          ]
        }
      }
    ],
    "id": "1"
  }
}</code></pre>

                    <h4>Example: an invalid request</h4>
                    <p>Request:</p>
                    <pre><code>curl -X POST \
  -H 'Content-Type: application/vnd.ga4gh.matchmaker.v1.0+json' \
  -H 'Accept: application/vnd.ga4gh.matchmaker.v1.0+json' \
  -d '{
      "patient": {
        "id":"1",
        "contact": {"name": "Jane Doe"},
        "features": [{"id": "HP:0000522"}]
      }
    }' \
  https://gateway.matchmakerexchange.org/v1/validate/match</code></pre>
                    <p>Response:</p>
                    <pre><code>HTTP/1.0 422 UNPROCESSABLE ENTITY
Content-Type: application/vnd.ga4gh.matchmaker.v1.0+json

{
  "message": "Request does not conform to API specification: 'href' is a required property\n\nFailed validating 'required' in schema['properties']['patient']['properties']['contact']:\n    {'properties': {'href': {'format': 'uri', 'type': 'string'},\n                    'institution': {'type': 'string'},\n                    'name': {'type': 'string'}},\n     'required': ['name', 'href'],\n     'type': 'object'}\n\nOn instance['patient']['contact']:\n    {'name': 'Jane Doe'}"
}</code></pre>
                </div>
            </div>

            <h3>Make a request to a specific server</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Endpoint: <code>/v1/servers/&lt;server_id&gt;/match</code></p>

                    <p>On receiving a request, the gateway:</p>
                    <ol>
                        <li>Authenticates the requesting client by verifying the <code>X-Auth-Token</code> header</li>
                        <li>Validates that the request conforms to <a href="https://github.com/MatchmakerExchange/reference-server/blob/master/mme_server/schemas/api.json">the MME API jsonschema specification</a> and normalizes the ontology terms:</li>
                            <ul>
                                <li>maps gene symbols and Entrez IDs to Ensembl IDs</li>
                                <li>resolves HPO synonyms</li>
                            </ul>
                        <li>Sends the request to the specified server and normalizes the ontology terms in the response</li>
                            <ul>
                                <li>The <code>X-Forwarded-For</code> header is set to the id of the authenticated client
                            </ul>
                        <li>Logs the exchange for MME analytics</li>
                        <li>Returns the normalized response to the client</li>
                            <ul>
                                <li>The request that was sent to the server is provided in the <code>_request</code> field of the response
                            </ul>
                    </ol>

                    <p>For example, to send a request to <code>phenomecentral</code>:</p>
                    <pre><code>curl -X POST \
  -H 'X-Auth-Token: <strong style="color:#c7254e;">&lt;your-gateway-client-token&gt;</strong>' \
  -H 'Content-Type: application/vnd.ga4gh.matchmaker.v1.0+json' \
  -H 'Accept: application/vnd.ga4gh.matchmaker.v1.0+json' \
  -d '{
      "patient": {
        "id":"1",
        "contact": {"name": "Jane Doe", "href": "mailto:jdoe@example.edu"},
        "features": [{"id": "HP:0000522"}],
        "genomicFeatures": [{"gene": {"id": "NGLY1"}}],
        "test": true
      }
    }' \
  https://gateway.matchmakerexchange.org/v1/servers/<strong style="color:#c7254e;">phenomecentral</strong>/match</code></pre>

                    <p>PhenomeCentral would then receive the following request:
                    <pre><code>
POST /rest/remoteMatcher/match HTTP/1.1
Host: phenomecentral.org
Content-Type: application/vnd.ga4gh.matchmaker.v1.0+json
Accept: application/vnd.ga4gh.matchmaker.v1.0+json
X-Forwarded-For: <strong style="color:#c7254e;">&lt;your-client-id&gt;</strong>
X-Auth-Token: <strong style="color:#c7254e;">&lt;phenomecentrals-gateway-server-token&gt;</strong>

{
  "patient": {
    "contact": {
      "href": "mailto:jdoe@example.edu",
      "name": "Jane Doe"
    },
    "features": [
      {
        "id": "HP:0000522",
        "label": "Alacrima",
        "observed": "yes"
      }
    ],
    "genomicFeatures": [
      {
        "gene": {
          "id": "ENSG00000151092",
          "label": [
            "N-glycanase 1"
          ]
        }
      }
    ],
    "id": "1",
    "test": true
  }
}
</code></pre>
                </div>
            </div>
        </section>

        <section class="row col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <h2 class="text-center">Most Recent Requests</h2>
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Status</th>
                        <th># matches</th>
                        <th>Took (ms)</th>
                        <th>Timestamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for request in recent_requests %}
                    <tr>
                        <td>{{ request.sender_id }}</td>
                        <td>{{ request.receiver_id }}</td>
                        <td>{{ request.status }}</td>
                        <td>{{ request.response_patient_ids|length }}</td>
                        <td>{{ (request.took * 1000) |round|int }}</td>
                        <td>{{ request.created_at }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <caption style="caption-side: bottom">Test requests are hidden from this table.</caption>
                </table>
            </div>
        </section>

        <!-- Footer row -->
        <footer class="row col-sm-10 col-sm-offset-1" style="padding-top: 25px; padding-bottom: 25px">
            <div class="footer text-center">
                <a href="https://github.com/MatchmakerExchange/"><span class="fa fa-github"></span> MatchmakerExchange</a>
            </div>
        </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</body>
</html>
