[Unit]
Description=Gunicorn instance to serve MME exchange server
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/exchange-server
Environment="PATH=/var/www/exchange-server/.virtualenv/bin"
ExecStart=/var/www/exchange-server/.virtualenv/bin/gunicorn --config /var/www/exchange-server/deployment/gunicorn_config.py wsgi:app

[Install]
WantedBy=multi-user.target
